In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
#Checking for null values
data.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [7]:
data.corr()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.103839,-0.141696,-0.067641,-0.137352,-0.003694,-0.074289,-0.005332,0.008505
GRE Score,-0.103839,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,-0.141696,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,-0.067641,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,-0.137352,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,-0.003694,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,-0.074289,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,-0.005332,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.008505,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [10]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [11]:
x=data.drop('Chance of Admit ',axis=1)
x.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0

In [12]:
y=data['Chance of Admit ']
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

In [13]:
#Splitting the data for model training
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [14]:
x_train.shape

(400, 8)

In [15]:
x_test.shape

(100, 8)

In [16]:
y_train.shape

(400,)

In [17]:
y_test.shape

(100,)

In [18]:
#Standardizing the data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [19]:
x_train_trans=scaler.fit_transform(x_train)

In [20]:
x_train_trans

array([[-0.96740864,  1.87138145,  1.56490551, ...,  1.06727526,
         1.40893247,  0.83793058],
       [ 0.60215867,  0.19003625,  0.43325896, ..., -1.09429488,
         0.30852476, -1.19341628],
       [-1.21415285,  1.69439775,  0.75658655, ...,  1.60766779,
         1.90165233,  0.83793058],
       ...,
       [-0.89886858, -2.37622747, -0.53672379, ..., -1.09429488,
        -1.87586666, -1.19341628],
       [-1.37864898,  1.9598733 ,  1.88823309, ...,  0.52688272,
         1.80310836, -1.19341628],
       [-0.52189827,  0.45551181,  0.43325896, ...,  1.60766779,
         0.86694061,  0.83793058]])

In [21]:
from sklearn.svm import SVR
regressor=SVR(kernel ='rbf')
regressor.fit(x_train_trans,y_train)

SVR()

In [22]:
regressor.score(x_train_trans,y_train)

0.8188092437421437

In [27]:
x_test_trans=scaler.transform(x_test)

In [28]:
y_pred=regressor.predict(x_test_trans)

In [29]:
y_pred

array([0.66167366, 0.79000904, 0.78977214, 0.83865489, 0.56287372,
       0.51854687, 0.46888055, 0.68364132, 0.49638091, 0.70178325,
       0.62651691, 0.74819683, 0.62028967, 0.76888486, 0.87228167,
       0.49498569, 0.77816855, 0.67039578, 0.69525414, 0.48059239,
       0.50995604, 0.73400759, 0.54524368, 0.87911556, 0.81839957,
       0.72158314, 0.59036897, 0.5074802 , 0.54576901, 0.61352175,
       0.66361605, 0.51530627, 0.6552536 , 0.82337321, 0.59473899,
       0.60668964, 0.84398008, 0.83030875, 0.61062342, 0.68802451,
       0.69787639, 0.84476191, 0.83305335, 0.73070043, 0.7495002 ,
       0.76106659, 0.90222865, 0.81095069, 0.66039123, 0.60627008,
       0.63600917, 0.64911819, 0.61945611, 0.74369181, 0.69390334,
       0.81009965, 0.50195529, 0.84492201, 0.62426183, 0.67990348,
       0.46736109, 0.89285715, 0.60927563, 0.81961101, 0.74591256,
       0.62934716, 0.69292166, 0.80053043, 0.46263139, 0.68456911,
       0.88415763, 0.67767138, 0.73281112, 0.64984991, 0.81469999,
       0.87242944, 0.78535002, 0.72783581, 0.55725851, 0.68654343,
       0.62198761, 0.86901541, 0.54927906, 0.69978021, 0.79642291,
       0.51452592, 0.75443921, 0.58745781, 0.45486952, 0.57732721,
       0.72517789, 0.78457815, 0.64875344, 0.72600076, 0.63386766,
       0.87491497, 0.52237776, 0.55574632, 0.54579771, 0.64052015])

In [32]:
## Performance Metrics

In [33]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [35]:
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))

0.0043501944924062355
0.05137879312083916
0.06595600421801062

In [36]:
# R-square and adjusted R square
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

0.7509157306914651